---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import BlogPostExcerpt from '../components/BlogPostExcerpt.astro';
import CustomImage from '../components/CustomImage.astro';
import DateTimeComponent from '../components/DateTimeComponent.astro';
const pageTitle = "David Gardiner";

const allPosts = (await getCollection("blog"))
  .sort(
    (a: any, b: any) =>
      new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  )
  .slice(0, 5);

---
<BaseLayout pageTitle={pageTitle}>
  <p>Recent posts:</p>

    {
      allPosts.map(async (post) => (
        <section>
          <h2><BlogPost url={`/${post.id}.html`} title={post.data.title} /></h2>

          <p><DateTimeComponent date={post.data.date} /> </p>

          { post.data.image &&
          <CustomImage desktopImgUrl={post.data.image!} alt={post.data.imageAlt} />
          }
          
          <BlogPostExcerpt body={post.body} length={500} /> <a href={`/${post.id}.html`}>Read more...</a>

          <div style="clear: both" />

          <div class="tags">
            {post.data.tags.map((tag: string) => (
              <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
            ))}
          </div>

        </section>
      ))
    }

</BaseLayout>

<style>

  .list-none {
    list-style-type: none;
  }

  
</style>