---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, compiledContent } = Astro.props;

// https://stackoverflow.com/a/76508946/25702
const locale = 'en-AU',
      suffixMap = { one: 'st', two: 'nd', few: 'rd', other: 'th' },
      pluralRule = new Intl.PluralRules(locale, { type: 'ordinal', }),
      withOrdinal = (n:number) => `${n}${suffixMap[pluralRule.select(n) as keyof typeof suffixMap]}`,
      dateFmt = Intl.DateTimeFormat(locale, { month: 'long', year: 'numeric' }),
      formatDate = (date: Date) => `${withOrdinal(date.getDate())} ${dateFmt.format(date)}`;

---
<BaseLayout pageTitle={frontmatter.title}>

<p>{formatDate(frontmatter.date)}</p>
<p><em>{frontmatter.description}</em></p>

<div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
<slot />
</BaseLayout>

<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>