---
import DateTimeComponent from "../components/DateTimeComponent.astro";
import BaseLayout from "./BaseLayout.astro";
import { Disqus } from "astro-disqus";

interface Props {
  frontmatter: {
    title: string;
    date: string;
    description?: undefined | string;
    tags: string[];
  };
}
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <slot name="head" slot="head" />
  
  <h1>{frontmatter.title}</h1>

  <p><DateTimeComponent date={frontmatter.date} /></p>

  <p><em>{frontmatter.description}</em></p>

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}.html`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />

  <Disqus
    embed="https://davidgardiner.disqus.com/embed.js"
    url={Astro.url.toString()}
  />
</BaseLayout>
